---
import Layout from '../layouts/Layout.astro';
import PlayListItemCard from '@/components/PlayListItemCard.astro';
import { playlists } from '@/lib/data';
import Greeting from '@/components/Greeting.svelte';
---

<Layout title="Spotify Clone">
	<section id="playlist-container" class="relative bg-green-600 transition-all duration-1000">
    <!-- <PageHeader />-->

    <article class="relative px-6 pt-12 pb-20 z-10">

      <Greeting />

      <div class="flex flex-wrap gap-4 mt-6">
        {
          playlists.map((playlist) => (
            <PlayListItemCard playlist={playlist}/>
          ))
        }
      </div>

    </article>

    <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"></div>

  </section>
</Layout>